<% @chairs.each do |chair| %>
  <p>Chair ID:<%= chair.id %></p>
  <p>Color:<%= chair.color %></p>
  <p>Weight:<%= chair.weight%></p>
  <p>Legs:<%= chair.legs %></p>
  <p>Style:<%= chair.style%></p>
<% end %>